*{
  padding: 0px;
  margin: 0px;
}
html{
  background-color: var(--background-color);
  scroll-behavior: smooth;
}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin: auto;
}
.nav__logo{
  font-size: 25px;
  color: var(--second-color);
  text-decoration: none;
}
.nav__logo span{
  color: white;
  background-color: var(--nav-color);
  padding: 2px 2px 0px 2px;
  border-radius: 50px 50px 0px 0px;
}
.nav__logo b{
  color: var(--first-color);
  padding-left: 3px;
  font-size: var(--);
}
.dash_icon{
  position: fixed;
  top: 0;
  width:calc(55px + var(--dashbord-nav-len));
  display: none;
}
.dash_icon i{
  color: white;
  background-color: var(--nav-color);
  padding: 5px;
  font-size: var(--iconsize);
  border-radius: 50%;
}
.dash_icon i:hover{
   box-shadow: 2px 2px 12px black;
}
.dashboard_all{
  width: 100%;
}
.dashboard_nav{
  position:fixed;
  background-color: white;
  height: 100vh;
  width: var(--dashbord-nav-len);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 12px black;
}
.dashboard_content{
  margin-left: var(--dashbord-nav-len);
  width: calc(100% - var(--dashbord-nav-len));
}
.all_nav{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  height: 80%;
}
.stud_sub_con{
  padding: 27px;
  height: 100vh;
}
.up_nav a{
  color: var(--nav-color);
  text-decoration: none;
  font-family: var(--body-font);
  font-weight: bold;
}
.up_nav_link{
  margin-top: 10px;
}
.up_nav_link i{
  color: gray;
  padding: 2px;
  font-size: 20px;
}
.log_out_btn{
  border-radius: 5px;
  border: 1px solid var(--nav-color);
  width: 85px;
  padding: 5px;
  color: var(--nav-color);
  font-weight: bold;
}
.log_out_btn i{
   font-weight: bold;
}
.log_out_btn:hover{
  background-color: var(--nav-color);
  color: white;
}
@media screen and (max-width: 920px){
  .bd-grid{
    width: 100%;
  }
  .dashboard_all{
    width: 100%;
  }
  #dashboard_nav{
    left:-170px;
    transition: 1.2s;
  }
  .all_nav{
    left: var(--dashbord-nav-len);
  }
  .dashboard_content{
  margin-left:10px;
  width: calc(100% - 10px);
 }
 .dash_icon{
  display: flex;
  height: 20%;
  justify-content: right;
  align-items: center;
 }
}