*{
  padding: 0px;
  margin: 0px;
}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin: auto;
}
.nav__logo{
  font-size: 25px;
  color: var(--second-color);
  text-decoration: none;
}
.nav__logo span{
  color: white;
  background-color: var(--nav-color);
  padding: 2px 2px 0px 2px;
  border-radius: 50px 50px 0px 0px;
}
.nav__logo b{
  color: var(--first-color);
  padding-left: 3px;
  font-size: var(--);
}
.dash_icon{
  position: fixed;
  top: 0;
  width:calc(55px + var(--dashbord-nav-len));
  display: none;
}
.dash_icon i{
  color: white;
  background-color: var(--nav-color);
  padding: 5px;
  font-size: var(--iconsize);
  border-radius: 50%;
}
.dash_icon i:hover{
   box-shadow: 2px 2px 12px black;
}
.dashboard_all{
  width: 100%;
}
.dashboard_nav{
  position:fixed;
  background-color: white;
  height: 100vh;
  width: var(--dashbord-nav-len);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 12px black;
}
.dashboard_content{
  margin-left: var(--dashbord-nav-len);
  width: calc(100% - var(--dashbord-nav-len));
}
.all_nav{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  height: 80%;
}
.stud_sub_con{
  padding: 27px;
  height: 100vh;
  max-height: 600px;
}
.up_nav a{
  color: var(--nav-color);
  text-decoration: none;
  font-family: var(--body-font);
  font-weight: bold;
}
.up_nav_link{
  margin-top: 10px;
}
.up_nav_link i{
  color: gray;
  padding: 2px;
  font-size: 20px;
}
.log_out_btn{
  border-radius: 5px;
  border: 1px solid var(--nav-color);
  width: 85px;
  padding: 5px;
  color: var(--nav-color);
  font-weight: bold;
}
.log_out_btn i{
   font-weight: bold;
}
.log_out_btn:hover{
  background-color: var(--nav-color);
  color: white;
}
@media screen and (max-width: 920px){
  .bd-grid{
    width: 100%;
  }
  .dashboard_all{
    width: 100%;
  }
  #dashboard_nav{
    left:-170px;
    transition: 1.2s;
  }
  .all_nav{
    left: var(--dashbord-nav-len);
  }
  .dashboard_content{
  margin-left:10px;
  width: calc(100% - 10px);
 }
 .dash_icon{
  display: flex;
  height: 20%;
  justify-content: right;
  align-items: center;
 }
}

/*Home pages*/
/*For file upload*/
.upload_from{
  height: 300px;
  z-index: 100;
  width: 80%;
  margin: 10px auto;
  background-color: white;
}
.upload_from:after{
  content: '';
  position: relative;
  top: 100px;
  z-index: -100;
  border-top: 250px solid var(--light-nav-color);
  border-right: 250px solid transparent;
}
.file_for_upload .bx-upload{
  font-size: 52px;
  color: gray;
}
.upload_heading{
  text-align: center;
  color: white;
  font-size: 23px;
  text-align: center;
  text-shadow:1px 1px 0px var(--nav-color);
}
.upload_data{
  height: 100%;
  background-color:  var(--light-nav-color);
  padding: 10px;
  display: flex;
  flex-direction:column;
   border-radius: 10px;
  justify-content: space-between;
}
.sub_type{
  background-color: var(--log_in_bg);
  color: var(--nav-color);
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--nav-color);
}
.file_for_upload{
  color: var(--nav-color);
  width:90%;
  margin: auto;
  border-radius: 10px;
  border: 2px dotted var(--nav-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.div_sub_type,.div_submit_btn{
  width: 90%;
  margin: auto;
  display: flex;
}
.div_submit_btn{
  justify-content: right;
}
.sub_upload_btn{
  color: var(--nav-color);
  background-color: var(--log_in_bg);
  border: 1px solid var(--nav-color);
  padding:5px 10px;
  font-size: var(--normal-font-size);
  font-weight: 700;
  border-radius: 5px;
}
.sub_upload_btn:hover{
  background-color: var(--nav-color);
  color: white;
}
.div_stat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 3px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color:var(--nav-color);
}
.div_stat:hover{
  box-shadow: 2px 3px 12px lightslategray;
}
.stat_no{
  font-size: 50px;
}
.std_statistic{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.std_statistic a{
  text-decoration: none;
}

/*all about std profile*/
.std_profile_div{
  border-radius: 5px;
  background-image: linear-gradient(270deg,lightgray,lightsteelblue,var(--nav-color));
  width: 90%;
  height: 250px;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.std_profile_div:hover{
  box-shadow: 2px 5px 22px lightslategray;
}
.prof_details{
  width: 35%;
  min-width: auto;
}
.prof_pic{
  background-color: white;
  width: 9rem;
  height: 9rem;
}
.sub_details{
  display:flex;
  justify-content: space-between;
  margin-bottom:6px ;
}
.main_details{
  width: 65%;
  color: var(--nav-color);
}
.std_edit{
  margin: 10px auto;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}
.std_edit a{
  color: white;
  font-weight: 700;
  font-size: var(--normal-font-size);
  text-decoration: none;
}
.std_edit:hover{
  background-color: white;
  border: 1px solid var(--nav-color);
}
.std_edit:hover a{
  color: var(--nav-color);
}
.std_edit .bxs-edit{
  padding: 2px;
  font-size: 19px;
}
@media screen and (max-width: 920px){
  .upload_from{
    width: 90%;
  }
  .div_stat{
    width: 80px;
    height: 80px;
    padding: 1px;
  }
  .stat_no{
    font-size: 30px;
  }
  .std_profile_div{
    padding-top:15px ;
    flex-direction: column;
    min-height: 550px;
  }
  .prof_details{
    width: 80%;
    margin: auto;
  }
  .main_details{
    width: 60%;
  }
}
@media screen and (max-width: 520px){
  .upload_from{
    width: 95%;
  }
  .std_profile_div{
    padding-top:15px ;
    width: 95%;
    flex-direction: column;
    min-height: 450px;
  }
  .prof_details{
    width: 95%;
    margin: auto;
  }
  .main_details{
    width: 60%;
  }
  .sub_details{
    color: white;
  }
}

/*All about tasks*/
.old_task, .recent_task{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--nav-color);
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: var(--normal-font-size);
  justify-content: space-between;
}
.old_task:hover,.recent_task:hover{
  box-shadow: 4px 2px 15px lightslategrey;
}
.solution_btn,.details_btn{
  border-radius: 5px;
  border:1px solid white ;
  padding: 3px;
  margin: 2px;
  font-weight: 700;
}
.solution_btn:hover,.details_btn:hover{
  background-color: white;
  color: var(--nav-color);
}