:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --footer-color: rgba(1,1,1,0.7);
  --nav-color: rgba(0,0,205,0.8);
  --box-shadow-color:rgba(12, 9, 8, 0.277);
  --sub-background-color:rgba(226, 187, 14, 0.527);
  --background-color:rgba(198, 225, 223,1);
  --first-color: #0fa18e;
  --second-color: #01131d;
  --third-color:#0fa18e;
}
/***icon***/
:root{
  --iconsize:25px;
  --iconpadding:5px;
  --iconbox:45px;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --project-title:25px;
  --project-sub-title:15px;
  --header-font: 20px;
}
@media screen and (min-width: 798px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*{
  padding: 0px;
  margin: 0px;
}
html{
  scroll-behavior: smooth;
  background-color: var(--background-color);
}
body{
 /* margin: var(--header-height) 0 0 0;*/
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

/**===loder===*/
#loder_set{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
#loder{
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 150px;
  height: 150px;
}
#loder div{
  background-color: var(--nav-color);
  position: absolute;
  border-radius: 5px solid var(--nav-color);
  opacity: 1;
  border-radius: 50%;
  animation: loder 1s cubic-bezier(0, 0.2, 0.8, 1.0) infinite;
}
#loder div:nth-child(2){
  animation-delay: -0.5s;
}
#loder div:nth-child(4){
  animation-delay: -0.25s;
}


@keyframes loder{
  0%{
    top: 46px;
    left: 46px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5%{
    top: 66px;
    left: 66px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  10%{
    top: 76px;
    left: 76px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100%{
    top: 0px;
    left: 0px;
    width: 152px;
    height: 152px;
    opacity: 0;
  }
}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin: auto;

}
/*===All about the header===*/
.l-header{
  margin:0px;
  padding: 5px;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: var(--header-font);
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0px 5px 4px var(--box-shadow-color);
}
.nav{
  margin: auto;
  height: var(--header-height);
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
.nav__link{
  text-decoration: none;
}
.nav__menu{
  height: 25px;
}
.nav__log_in{
  border-radius: 5px;
  border: 1px solid var(--nav-color);
  padding: 5px 10px;
  text-decoration: none;
  font-size: 18px;
}
.nav__log_in:hover{
  background-color: var(--nav-color);
  color: white;
}
.nav__toggle{
  display: none;
}
.nav__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__item a{
  color: var(--nav-color);
}
@media screen and (max-width: 998px){
  .nav__toggle{
    display: block;
  }
  .nav__menu{
  height: auto;
  box-shadow: 0px 5px 4px var(--box-shadow-color);
  }
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    background-color: #fff;
    transition: .5s;
    text-align: center;
  }
  .nav__list{
    flex-direction: column;
  }
  .nav__item{
    padding: 0px;
  }
}
@media screen and (min-width: 999px){
  .nav__logo{
    width: 35%;
  }
  .nav__menu{
    width: 65%;
  }
}
.nav__item{
  margin-bottom: var(--mb-2);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 25px;
  background-color: var(--first-color);
}
.nav__logo{
  color: var(--second-color);
  text-decoration: none;
}
.nav__logo span{
  color: white;
  background-color: var(--nav-color);
  padding: 2px 2px 0px 2px;
  border-radius: 50px 50px 0px 0px;
}
.nav__logo b{
  color: var(--first-color);
  padding-left: 3px;
  font-size: var(--);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 25px;
  background-color: var(--first-color);
}

/*Show menu*/
.show{
  right: 0;
}
/*===All about section===*/
.section__all{
  height: 100vh;
}
/*===All about footer===*/
.footer__all{
  padding-top:25px ;
  width: 100%;
  background-color: var(--footer-color);
}
.footer__logo{
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.footer__logo span{
  background-color: var(--nav-color);
  padding: 2px 2px 0px 2px;
  border-radius: 50px 50px 0px 0px ;
}
.social_icon_footer .social_icon i{
  background-color: white;
  padding: var(--iconpadding);
  font-size: var(--iconsize);
  margin-right:7px;
  font-weight: 500;
  border-radius: 2px;
  color: var(--nav-color);
}
.social_icon_footer .social_icon i:hover{
  background-color: var(--nav-color);
  color: white;
}
.social_icon_footer{
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  justify-content: center;
}
.footer_subpart_heading{
  color: var(--nav-color);
  font-size: 19px;
  font-weight: bold;
  text-shadow: 1px 0px 20px white;
}
.footer__con{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer_subpart{
  width: 245px;
  margin: 5px;
}
.footer_subpart ul{
  list-style: none;
}
.footer_subpart ul li{
  padding: 3px 3px 3px 15px;
}
.footer_subpart a{
  color: white;
  text-decoration: none;
}
.footer__reserved{
  color: white;
  text-align: right;
  padding: 15px 0px 15px 0px;
}
.footer__reserved span{
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 50px;
  font-size: 15px;
}



/*=====All about the css of the log_in.html =====*/
.log_in_all{
  background-image: url("../img/sing_in.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
.log_in_from{
   /* background-color: white;*/
    padding: 15px 10px;
    height: 300px;
    width: 400px;
    border-radius: 10px;
  }
.log_in_from:hover{
    box-shadow: 1px 5px 10px var(--nav-color);
    background-color: rgba(255,255,255,0.8);
  }
.from_log_in,.from_sing_up{
    height: 70%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
  }
.log_in_from .nav_logo_div a,.sing_up_from .nav_logo_div a{
  font-size: 25px;
}
.log_in_from .nav_logo_div,.sing_up_from .nav_logo_div{
  padding: 10px;
  display: flex;
  justify-content: center;
}
.log_in_input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.log_in_input .log_input{
  width:70% ;
}
.log_in_input .log_input input{
  height: 25px;
  width: 95%;
  padding: 2px 7px;
  color: var(--nav-color);
  font-size: 15px;
  font-weight: 600;
  background-color: rgba(20, 20, 200, 0.01);
  border: 1px solid var(--nav-color);
  border-radius: 5px;
  outline: none;
}
.log_in_input .log_input input:focus{
  border:1px solid red;
}
.log_in_label{
  width: 30%;
  height: 25px;
  color: var(--nav-color);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px){
   .log_in_all{
    background-image: url(../img/log_in.svg);
    background-position: top;
    background-size: 80%;
    background-repeat: no-repeat;
   }
}
.log_in_submit{
  display: flex;
  justify-content: center;
  padding: 1%;

}
.log_in_submit .submit_btn{
  padding: 5px 10px;
  color: var(--nav-color);
  outline: none;
  font-size: var(--normal-font-size);
  border: 1px solid var(--nav-color);
  font-weight: 500;
  border-radius: 5px;
}
.log_in_submit .submit_btn:hover{
  color: white;
  background-color: var(--nav-color);
  outline: none;
  font-size: var(--normal-font-size);
  border: 1px solid var(--nav-color);

}
.log_in_cra ,.forget_password,.log_in_cont{
  display: flex;
  justify-content: center;
  padding-top: 5px ;
}
.sing_in_img{
  z-index: 100;
  position: absolute;
  width: 425px;
}
.sing_up{
  display:none ;
}
.sing_up_from{
  padding: 15px;
  border-radius: 10px;
  width: 400px;
  height: 350px;
}
.sing_up_from:hover{
  box-shadow: 1px 5px 10px var(--nav-color);
  background-color: rgba(255,255,255,0.8);
}
.log_in_cont a,.forget_password a,.log_in_cra a{
  text-decoration: none;
  color: var(--nav-color);
}
@media screen and  (max-width: 501px){
  .log_in_all{
    height: 100vh;
    width:100%;
  }
  .log_in,.sing_up{
    width: 100%;
  }
  .log_in_from,.sing_up_from{
    width: 90%;
    margin: auto;
  }
  .log_in_input{
    flex-direction: column;
    width: 100%;
  }
  .log_in_label{
    width: 100%;
  }
  .log_in_from .log_input, .sing_up_from .log_input{
    width: 100%;
  }
  .log_in_from .log_input input,.sing_up_from .log_input input{
      width: 95%;
    }
}