/*===== BASE =====*/
*{
  padding: 0px;
  margin: 0px;
}
html{
  scroll-behavior: smooth;
  background-color: var(--background-color);
}
body{
 /* margin: var(--header-height) 0 0 0;*/
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin: auto;

}
/*===All about the header===*/
.l-header{
  margin:0px;
  padding: 5px;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: var(--header-font);
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0px 5px 4px var(--box-shadow-color);
}
.nav{
  margin: auto;
  height: var(--header-height);
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
.nav__link{
  text-decoration: none;
}
.nav__menu{
  height: 25px;
}
.nav__log_in{
  border-radius: 5px;
  border: 1px solid var(--nav-color);
  padding: 5px 10px;
  text-decoration: none;
  font-size: 18px;
}
.nav__log_in:hover{
  background-color: var(--nav-color);
  color: white;
}
.nav__toggle{
  display: none;
}
.nav__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__item a{
  color: var(--nav-color);
}
@media screen and (max-width: 998px){
  .nav__toggle{
    display: block;
  }
  .nav__menu{
  height: auto;
  box-shadow: 0px 5px 4px var(--box-shadow-color);
  }
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    background-color: #fff;
    transition: .5s;
    text-align: center;
  }
  .nav__list{
    flex-direction: column;
  }
  .nav__item{
    padding: 0px;
  }
}
@media screen and (min-width: 999px){
  .nav__logo{
    width: 35%;
  }
  .nav__menu{
    width: 65%;
  }
}
.nav__item{
  margin-bottom: var(--mb-2);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 25px;
  background-color: var(--first-color);
}
.nav__logo{
  color: var(--second-color);
  text-decoration: none;
}
.nav__logo span{
  color: white;
  background-color: var(--nav-color);
  padding: 2px 2px 0px 2px;
  border-radius: 50px 50px 0px 0px;
}
.nav__logo b{
  color: var(--first-color);
  padding-left: 3px;
  font-size: var(--);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 25px;
  background-color: var(--first-color);
}

/*Show menu*/
.show{
  right: 0;
}
/*===All about section===*/
.section__all{
  padding-top: 50px;
  height: 100vh;
}
.section__all h1{
  text-align: center;
}
/*===All about footer===*/
.footer__all{
  padding-top:25px ;
  width: 100%;
  background-color: var(--footer-color);
}
.footer__logo{
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.footer__logo span{
  background-color: var(--nav-color);
  padding: 2px 2px 0px 2px;
  border-radius: 50px 50px 0px 0px ;
}
.social_icon_footer .social_icon i{
  background-color: white;
  padding: var(--iconpadding);
  font-size: var(--iconsize);
  margin-right:7px;
  font-weight: 500;
  border-radius: 2px;
  color: var(--nav-color);
}
.social_icon_footer .social_icon i:hover{
  background-color: var(--nav-color);
  color: white;
}
.social_icon_footer{
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  justify-content: center;
}
.footer_subpart_heading{
  color: var(--nav-color);
  font-size: 19px;
  font-weight: bold;
  text-shadow: 1px 0px 20px white;
}
.footer__con{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer_subpart{
  width: 245px;
  margin: 5px;
}
.footer_subpart ul{
  list-style: none;
}
.footer_subpart ul li{
  padding: 3px 3px 3px 15px;
}
.footer_subpart a{
  color: white;
  text-decoration: none;
}
.footer__reserved{
  color: white;
  text-align: center;
  padding: 15px 0px 15px 0px;
}
.footer__reserved span{
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 50px;
  font-size: 15px;
}



/*=====All about the css of the log_in.html =====*/
.log_in_all{
  background-image: url("../img/sing_in.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
.log_in_from{
   /* background-color: white;*/
    padding: 15px 10px;
    height: 300px;
    width: 400px;
    border-radius: 10px;
  }
.log_in_from:hover{
    box-shadow: 1px 5px 10px var(--nav-color);
    background-color: rgba(255,255,255,0.8);
  }
.from_log_in,.from_sing_up{
    height: 70%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
  }
.log_in_from .nav_logo_div a,.sing_up_from .nav_logo_div a{
  font-size: 25px;
}
.log_in_from .nav_logo_div,.sing_up_from .nav_logo_div{
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}
.log_in_from .nav__logo{
  text-align: center;
}
.log_in_input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.log_in_input .log_input{
  width:70% ;
}
.log_in_input .log_input input{
  height: 25px;
  width: 95%;
  padding: 2px 7px;
  color: var(--nav-color);
  font-size: 15px;
  font-weight: 600;
  background-color: var(--log_in_bg);
  border: 1px solid var(--nav-color);
  border-radius: 5px;
  outline: none;
}
.log_in_input .log_input input:focus{
  border:1px solid red;
}
.log_in_label{
  width: 30%;
  height: 25px;
  color: var(--nav-color);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px){
   .log_in_all{
    background-image: url(../img/log_in.svg);
    background-position: top;
    background-size: 80%;
    background-repeat: no-repeat;
   }
}
.log_in_submit{
  display: flex;
  justify-content: center;
  padding: 1%;

}
.log_in_submit .submit_btn {
  background-color: var(--log_in_bg);
  padding: 5px 10px;
  color: var(--nav-color);
  font-size: var(--normal-font-size);
  border: 1px solid var(--nav-color);
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
}
.log_in_submit .submit_btn:hover {
  color: white;
  background-color: var(--nav-color);
  outline: none;
  font-size: var(--normal-font-size);
  border: 1px solid var(--nav-color);

}
.log_in_cra ,.forget_password,.log_in_cont{
  display: flex;
  justify-content: center;
  padding-top: 5px ;
}
.sing_in_img{
  z-index: 100;
  position: absolute;
  width: 425px;
}
.sing_up{
  display:none ;
}
.sing_up_from{
  padding: 15px;
  border-radius: 10px;
  width: 400px;
  height: 350px;
}
.sing_up_from:hover{
  box-shadow: 1px 5px 10px var(--nav-color);
  background-color: rgba(255,255,255,0.8);
}
.log_in_cont a,.forget_password a,.log_in_cra a{
  text-decoration: none;
  color: var(--nav-color);
}
@media screen and  (max-width: 501px){
  .log_in_all{
    height: 100vh;
    width:100%;
  }
  .log_in,.sing_up{
    width: 100%;
  }
  .log_in_from,.sing_up_from{
    width: 90%;
    margin: auto;
  }
  .sing_up_from{
    height: 450px;
  }
  .log_in_input{
    flex-direction: column;
    width: 100%;
  }
  .log_in_label{
    width: 100%;
  }
  .log_in_from .log_input, .sing_up_from .log_input{
    width: 100%;
  }
  .log_in_from .log_input input,.sing_up_from .log_input input{
      width: 95%;
    }
}

/* css task in sing_up.html*/
.conformation{
  background-color:var(--background-color);
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  justify-items: center;
}
.as_position{
  background-color: white;
  padding: 35px;
  border-radius: 5px;
}
.as_position:hover{
  box-shadow: 2px 3px 15px var(--footer-color);
}
.as_position .heading{
  font-size: 25px;
}
#as_student,#as_tutor{
  background-color: var(--nav-color);
  text-align: center;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid var(--nav-color);
}
.hello{
  padding: 5px;
}
.as_position a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#as_student:hover,#as_tutor:hover{
  background-color: white;
}
#as_student:hover a,#as_tutor:hover a{
  color: var(--nav-color);
}

.for_student,.for_tutor{
  display: none;
}