:root{
  --header-height: 3rem;
  --font-semi: 600;
  --dashbord-nav-len:180px;
  --header-font:20px ;
  --log_in_bg:  rgba(20, 20, 200, 0.01);
}

/*===== Colores =====*/
:root{
  --footer-color: rgba(1,1,1,0.7);
  --nav-color: rgba(0,0,205,1);
  --light-nav-color: white;
  --box-shadow-color:rgba(12, 9, 8, 0.277);
  --sub-background-color:rgba(226, 187, 14, 0.527);
  --background-color:rgba(198, 225, 223,1);
  --first-color: #0fa18e;
  --second-color: #01131d;
  --third-color:#0fa18e;
}
/***icon***/
:root{
  --iconsize:25px;
  --iconpadding:5px;
  --iconbox:45px;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --mid-font-size: 1.1rem;
  --normal-font-size: 0.938rem;
  --project-title:25px;
  --project-sub-title:15px;
}
@media screen and (min-width: 798px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
/**===loder===*/
#loder_set{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
#loder{
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 150px;
  height: 150px;
}
#loder div{
  background-color: var(--nav-color);
  position: absolute;
  border-radius: 5px solid var(--nav-color);
  opacity: 1;
  border-radius: 50%;
  animation: loder 1s cubic-bezier(0, 0.2, 0.8, 1.0) infinite;
}
#loder div:nth-child(2){
  animation-delay: -0.5s;
}
#loder div:nth-child(4){
  animation-delay: -0.25s;
}


@keyframes loder{
  0%{
    top: 46px;
    left: 46px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5%{
    top: 66px;
    left: 66px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  10%{
    top: 76px;
    left: 76px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100%{
    top: 0px;
    left: 0px;
    width: 152px;
    height: 152px;
    opacity: 0;
  }
}
